@font-face {
    font-family: 'titulos';
    src: url(./assets/fonts/Monumental.ttf);
}

body {
    /*background: url(./assets/img/backgorund3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;*/
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    color: black;
    text-decoration: none;
}
.logo {
    width: 30%;
    padding-left: 30px;
}
.flexbox-container-nav {
    display: flex;
    background: url(./assets/img/header-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
}

.flexbox-nav {
    display: flex;
    width: 30%;
    margin-right: 10px;
    
}

.flexbox-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "titulos";
    
}
.flexbox-list li:hover{
    background-image: url(./assets/img/hover.gif);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    

}
.flexbox-container-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-header1{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;

}
.container-header1 img{
    border-radius: 100%;
    box-shadow: 0 0 30px rgb(255 255 255 / 30%);
}
.name{
    color: white;
}

.container-header2{
    display: flex;
    color:white;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-header3{
    display: flex;
    color: white;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.container-header3 img{
    width: 30px;
    height: 30px;
}
.flexbox-container-body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.flexbox-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}
.musicote{
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
}

.flexbox-div{
    display: flex;
    color: white;

}


@media (max-width: 425px) {
    .flexbox-container-nav {
        justify-content: center;
        width: 90%;
    }

    a {
        text-align: center;
    }

    .flexbox-nav {
        width: 100%;
        margin-right: 0;
    }

    body {
        background-size: contain;
    }

    .logo {
        padding: 0;
    }

}